@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: theme("fontFamily.sans");
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}
